body h1, h3, h4, p, .image {
    text-align: center;
}

img {
    margin-top: 15%;
    width : 50%
}

ul {
    list-style-type: none;
   
}

nav ul li a {
    display: flex;
    flex-direction: row  ;
    justify-content: center;
    margin-left:  10%;
    margin-right: 18%;
    margin-top: 5%;
    background-color: #0c9477;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1%;
}

nav ul li a:hover {
    background-color: #33bb9e;
}

nav ul li a:active {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

body {
    border: solid #0c9477;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: lightgray;
    background-image: url(../assets/bg.jpg);
}

body h1 {
    background-color: #0c9477;
    color: white;
    font-family: monospace;
    font-style: italic;
    font-size: 50px;
}

body h3 {
    margin-top: 25px;
    font-weight: 900px;
}

body h4  {
    margin-top: 20px;
    background-color: #0c9477;
    color: white;
    padding: 20px;
    font-size: 30px;
}

.penjelasan {
    text-align: left;
    font-style: italic;
    color: black;
}

.formula {
    margin-top: 60px;
    border:#0c9477 solid 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

legend {
    background-color: #0c9477;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 20px;
}

.lblinput {
    margin-top: 20px;
}

.Squaresides {
    outline: none;
    border: solid 2px #0c9477;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.Squaresides:focus {
    border: #b8ad12 solid;
}

button {
    margin: 20px;
    background-color: #b8ad12;
    color: white;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.buttonSection {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}

button:hover {
    background-color: #b8ad12;
}

button:active {
    background-color: #07624f;
    transform: translateY(3px);
}

#lblPerimeter {
    margin-top: 100px;
}

#lblArea {
    margin-top: 100px;
}

footer p {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    margin-top: 100px;
}

body {
    font-size: 14px;
  }
  
  /* Media query untuk layar dengan lebar maksimal 600px */
  @media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
  }
  
  /* Media query untuk layar dengan lebar antara 601px dan 900px */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
    }
  }